*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;  
}

a{
    text-decoration: none;
}

.main-login{
    display: flex;
    width: 100vw;
    min-height: 80vh;
    background-color: #201b2c;
    display: flex;
    justify-content: center; /*Eixo-x*/
    align-items: center; /*Eixo-Y*/
}

@media(max-width:720px){
    .main-login{
        flex-direction: column;
    }
}

.left-login{
    width: 50vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login h1{
    color: #77ffc0;
}

.left-login-image{
    width: 35vw;
}

@media(max-width:720px){
    .left-login-image{
        min-width: 35vh;
    }
}

.right-login{
    width: 50vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width:720px){
    .card-login{
        min-width: 50vw;
    }
}

.card-login{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #2f2841;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.card-login h1{
    color: #00ff88;
    font-weight: 800; /*Peso da fonte*/
    margin: 0;
}

.text-area{
    width: 100%;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.text-area input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #514869;
    color: #f0ffffde;
    font-size: 16px;
    box-shadow: 0px 10px 40px #00000056;
    outline: none; /*tira marcação do input*/
}

.text-area label{
    color: #f0ffffde;
    margin-bottom: 10px;
}

.text-area input::placeholder{
    color: #f0ffffde;
}

.btn-login{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px; /*espaçamento entre as letras*/
    color: #2b134b;
    background: #00ff88;
    cursor: pointer;
    box-shadow: 0 10px 40px -12px #00ff8052;
}

@media (max-width:600px){
    .main-login{
        flex-direction: column;
    }
}


/*Footer*/

footer{
    color: white;
    text-align: center;
    background-color: black;
    padding: 30px;
    font-size: 14px;
}

footer a{
    color: white;
}

footer a:hover{
    color: green;
}