/*Header*/

body{
    font-family: sans-serif;
}

a{
    font-size: 62%;
    text-decoration: none;
    color: black;
}

header{
    display: flex;
    min-height: 70vh;
    background-color: blueviolet;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

@media(max-width:701px){
    header{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}


.logo{
    display: flex;
    align-items: center;
    padding-left: 10px;
}
@media(max-width:286px){
    .logo {
        flex-direction: column;
    }
}

.logo h2{
    font-size: 2rem;
    margin-left: 10px;
}
@media(max-width:236px){
    .logo h2{
        font-size: 1rem;
    }
}

.logo h2:hover{
    color: white;
}

.logo img{
    height: 50px;
}

nav a{
    font-size: 1.2rem;
    font-weight: 600;
    padding: 10px;
}

nav a:hover{
    color: white;
}

@media (max-width:700px){
    header{
        flex-direction: column;
    }

    nav{
        padding: 10px 0;
    }
}