*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    font-size: 62%;  
}

a{
    text-decoration: none;
}

/*Container*/

.flex-container{
    background-color: #201b2c;
    width: 100vw;
    height: 80vh;
    align-items: center;
    display: flex;
    justify-content: center;
}

#content-img{
    width: 40vw;
    height: 60vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}


@media(max-width: 700px){
    #content-img{
        margin-top: 15vh;
        width: 40vw;
    }
}

.content-img{
    display: flex;
    border-radius: 6%;
    height: 60vh;
    width: 40vw;
}

.content-img:hover{
    border: 2px solid yellowgreen;
}

#content-text{
    width: 50vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width: 1023px){
    #content-text h1{
        font-size: 1.8rem;
    }
}

@media(max-width: 945px){
    #content-text h1{
        margin-top: 5vh;
        font-size: 1.5;
    }
    #content-text p{
        margin-bottom: 5vh;
    }
}

@media (max-width:871px){
    #content-text h1{
        font-size: 1.4rem;
    }

    #content-text p{
        font-size: 1.1rem;
    }
}

@media(max-width:671px){
    #content-text
}

.content-text h1{
    font-size: 2.6rem;
    margin: 15px 15px;
    text-align: center;
}

.content-text p{
    font-size: 1.4rem;
}


.content-text{
    font-size: 1.6rem;
    display: flex;
    width: 30vw;
    height: 60vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px 35px;
    background-color: yellowgreen;
    border-radius: 6%;
}

@media (max-width: 850px){
    .content-text{
        font-size: 1.3rem;
    }
}

@media (max-width:624px){
    .content-text{
        font-size: .5rem;
    }
}

.content-text:hover{
    border: 2px solid blue;
}

@media (max-width:700px){

    body{
        max-height: 100vh;
    }

    .flex-container{
        flex-direction: column;
    }

    #content-img{
        height: 20vh;
        width: 20vw;
    }

    #content-text{
        height: 65vh;
    }
}

/*Footer*/

footer{
    font-size: 1.2rem;
    color: white;
    text-align: center;
    background-color: black;
    padding: 30px;
}

footer a{
    font-size: 1.2rem;
    color: white;
}

footer a:hover{
    color: green;
}

